body {
   margin: 80px;
}

.letterg {
   background-color: darkred;
   color: white;
   padding: 14px 25px;
   text-align: center;
   border-radius: 50px;
}

.buttoncontainer {
   display: flex;
   justify-content: center;
   align-items: center;
}
